alabaster==0.7.12
allennlp==0.9.0
attrs==21.2.0
Babel==2.9.1
blis==0.2.4
boto3==1.17.91
botocore==1.20.91
cached-property==1.5.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
conllu==1.3.1
cycler==0.10.0
cymem==2.0.5
Cython==0.29.23
dataclasses==0.8
distro==1.5.0
docutils==0.17.1
editdistance==0.5.3
flaky==3.7.0
Flask==2.0.1
Flask-Cors==3.0.10
ftfy==6.0.3
gevent==21.1.2
greenlet==1.1.0
h5py==3.1.0
idna==2.10
imagesize==1.2.0
importlib-metadata==4.5.0
iniconfig==1.1.1
itsdangerous==2.0.1
jieba==0.42.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonnet==0.17.0
jsonpickle==2.0.0
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
murmurhash==1.0.5
nltk==3.6.2
numpy==1.19.5
numpydoc==1.1.0
opencv-python==4.2.0.32
overrides==3.1.0
packaging==20.9
parsimonious==0.8.1
Pillow==8.2.0
plac==0.9.6
pluggy==0.13.1
preshed==2.0.1
protobuf==3.17.3
py==1.10.0
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pytz==2021.1
regex==2021.4.4
requests==2.25.1
responses==0.13.3
s3transfer==0.4.2
scikit-build==0.11.1
scikit-learn==0.24.2
scipy==1.5.4
sentencepiece==0.1.95
six==1.16.0
snowballstemmer==2.1.0
spacy==2.1.9
Sphinx==4.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
srsly==1.0.5
tensorboardX==2.2
thinc==7.0.8
threadpoolctl==2.1.0
toml==0.10.2
torch==1.2.0
torchvision==0.4.0
tqdm==4.61.0
typing-extensions==3.10.0.0
typing-utils==0.1.0
Unidecode==1.2.0
urllib3==1.26.5
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==2.0.1
word2number==1.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
